<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EH Vessels</title>
    <!-- inject:styles:css -->
    <link rel="stylesheet" href="./public/css/bootstrap.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="./public/css/datatables.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="./public/css/panelWithTabs.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="./public/css/site.css" media="screen" charset="utf-8">
    <!-- endinject -->
    <script type="text/javascript">
      function updateDetails(type, id) {
        App.vms.details.$data = App.getComponentById(type, id)
      }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="#">Vessel Designer</a></li>
            <li class="disabled"><a href="#">Battle Tracker</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluidt -->
    </nav>

    <div id="wrapper" class="container-fluid">
      <div class="row">
        <div id="details" class="col-sm-offset-1 col-sm-10
          col-md-offset-2 col-md-8
          col-lg-offset-3 col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Info</h3>
            </div>
            <div class="panel-body">
              <p v-if="hasData">
                {{ $data | json }}
              </p>
              <p v-else>
                No component selected.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div id="sidebar" class="col-sm-3 col-lg-1">
          <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                  <a href="#container-components-armor" aria-controls="container-components-armor" role="tab" data-toggle="tab">A</a>
                </li>
                <li role="presentation">
                  <a href="#container-components-rooms" aria-controls="container-components-rooms" role="tab" data-toggle="tab">R</a>
                </li>
                <li role="presentation">
                  <a href="#container-components-subsystems" aria-controls="container-components-subsystems" role="tab" data-toggle="tab">S</a>
                </li>
                <li role="presentation">
                  <a href="#container-components-weapons" aria-controls="container-components-weapons" role="tab" data-toggle="tab">W</a>
                </li>
              </ul>
            </div>
            <!-- Tab panes -->
            <div id="components" class="tab-content">
              <components></components>
            </div><!-- /.components -->
          </div>
        </div><!-- /.sidebar -->

        <div id="content" class="col-sm-9 col-lg-11" ondrop="drop(event)", ondragover="allowDrop(event)">
          <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading clearfix">
              <div class="pull-right" style="margin: 7px">
                <a id="downloadShips" type="button" name="save" class="btn btn-default btn-xs">Download</a>
                <a id="saveShips" type="button" name="save" class="btn btn-default btn-xs">Save</a>
                <a id="resetShip" type="button" name="reset" class="btn btn-default btn-xs">Reset</a>
              </div>
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                  <a id="ships-nav-tab" href="#ships" aria-controls="ships" role="tab" data-toggle="tab">Ships</a>
                </li>
                  <li role="presentation">
                    <a href="#chassisList" aria-controls="chassisList" role="tab" data-toggle="tab">Chassis</a>
                  </li>
              </ul>
            </div>
            <div class="panel-body">
              <div class="tab-content">
                <div id="ships" class="tab-pane collapse in active">
                  <ship :ship="$data"></ship>
                </div>
                <div id="chassisList" class="tab-pane collapse">
                  <div v-for="chassis in $data" class="chassis" data-id="{{ chassis.id }}">
                    <div class="thumbnail">
                      <div class="caption">
                        <h3>{{ chassis.name }}</h3>
                        <dl>
                          <dt>size</dt>
                          <dd>{{ chassis.size }}</dd>
                          <dt>type</dt>
                          <dd>{{ chassis.type }}</dd>
                          <dt>slots</dt>
                          <dd>
                            <ul>
                              <li>
                                armor: {{ chassis.slots.armor }}
                              </li>
                              <li v-if="chassis.slots.rooms > 0">
                                rooms: {{ chassis.slots.rooms }}
                              </li>
                              <li>subsystems: {{ chassis.slots.subsystems }}</li>
                              <li>weapons: {{ chassis.slots.weapons }}</li>
                            </ul>
                          </dd>
                        </dl>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.content -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->

    <script type="text/javascript">
      var App = {}; App.data = {}; App.data.components = {}; App.vms = {};
    </script>
    <!-- inject:data:js -->
    <!-- endinject -->
    <!-- inject:scripts:js -->
    <!-- LIBRARIES -->
    <script src="./public/js/jquery.js" charset="utf-8"></script>
    <script src="./public/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="./public/js/datatables.min.js" charset="utf-8"></script>
    <script src="./public/js/vue.js" charset="utf-8"></script>
    <!-- ENVIRONMENT INITIALIZATION -->
    <script type="text/javascript">
      Vue.config.debug = true
    </script>
    <!-- DATA / COMPONENTS -->
    <script src="./data/components/armor.js" charset="utf-8"></script>
    <script src="./data/components/rooms.js" charset="utf-8"></script>
    <script src="./data/components/subsystems.js" charset="utf-8"></script>
    <script src="./data/components/weapons.js" charset="utf-8"></script>
    <!-- DATA / CHASSIS -->
    <script src="./data/chassis.js" charset="utf-8"></script>
    <!-- DATA / SHIPS -->
    <script src="./data/ships/small_ships.js" charset="utf-8"></script>
    <!-- MAIN APP -->
    <script src="./public/js/app.js" charset="utf-8"></script>
    <!-- endinject -->
  </body>
</html>
