.dataTables_info {
  padding: 5px !important;
}

.tfoot-top {
  display: table-header-group;
}

.tfoot-top th, .tfoot-top td {
  border-top: 0 !important;
  border-bottom: 1px solid black;
}

.tfoot-top th, .tfoot-top td {
  padding: 5px !important;
}

tfoot input {
  box-sizing: border-box;
  width: 100%;
  padding: 3px;
}

.table-nonfluid {
   width: auto !important;
}

.dataTables_filter {
  display: none;
}

.components_table > tbody > tr:last-child > td {
  border-bottom: 1px solid black;
}

div[id^='container-components-'] {
  height: calc(100vh - 335px);
  overflow-y: auto;
}

#details {
  height: 158px;
}

#details .panel-body {
  height: 100px;
}
