.dataTables_info {
  padding: 5px !important;
}

.tfoot-top {
  display: table-header-group;
}

.tfoot-top th, .tfoot-top td {
  border-top: 0 !important;
  border-bottom: 1px solid black;
}

.tfoot-top th, .tfoot-top td {
  padding: 5px !important;
}

tfoot input {
  box-sizing: border-box;
  width: 100%;
  padding: 3px;
}

.table-nonfluid {
   width: auto !important;
}
